# Ignore virtual environment files.
/env
/venv
/ENV 
/VENV 
.env
.venv

# Ignore python compiled code
__pycache__/


# Ignore virtual environment files.
/env
/venv
/ENV 
/VENV 
.env
.venv

# Ignore python compiled code
__pycache__/

# logs
logs/
*.logs

node_modules
